<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                        <h3 class="mb-0" *ngIf="mode==1">Visualizar</h3> <!--Si existe el mode=1-->
                        <h3 class="mb-0" *ngIf="mode==2">Crear</h3> <!--Si existe el mode=3-->
                        <h3 class="mb-0" *ngIf="mode==3">Actualizar</h3> <!--Si existe el mode=2-->
                </div>
               
                    <div clas="card-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-4"><label for="">Id:</label></div>
                                <div clas="col-8"><input type="text" disabled [(ngModel)]="restaurant.id"></div>
                            </div>
                            <div class="row">
                                <div class="col-4"><label for="">Telefono</label></div>
                                <div clas="col-8"><<input type="text" disabled [(ngModel)]="restaurant.telefono"></div>
                            </div>
                            <div class="row">
                                <div class="col-4"><label for="">Nombre</label></div>
                                <div clas="col-8"> <input type="text" disabled class="form-control" [(ngModel)]="restaurant.name" formControlName="name">
                                    <button class="btn btn success btn-block" *ngIf="mode==2" (click)="create()" >Crear</button>
                                   
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4"><label for="">Ubicacion</label></div>
                                <div clas="col-8">
                                    <input type="text" disabled class="form-control" [(ngModel)]="restaurant.ubicacion" 
                                    formControlName="ubicacion"></div>
                            </div>
                        </div>
                    </div>
       
            </div>
        </div>
    </div>
</div>
